

.aboutPageContainerColumns{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    padding:0;
    display: grid;
    grid-template-columns: 18rem 25% 25%;
    gap:2rem;
    justify-content: center;
}

.infoContainer ul{
    padding:0;
    margin:0;
    position: relative;
}

.infoContainer li{
    margin:0;
    padding:0;
    list-style: none;
}


.infoContainer{
    text-align: center;
    font-size: 1.1rem;
    padding: 2rem;
    line-height: 1;
    color: white;
    background: black;
    max-height: 40rem;
    border-radius: 1rem;
}

.aboutContactLink:hover{
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px 6px #272222;
}

.aboutInfo{
    font-size: 1.3rem;
}

.BWTheo{
    max-width: 29vw;
    max-height: 25rem;
}

@media(max-width:700px){
    .aboutPageContainerColumns{
        grid-template-columns: auto;
    }
    .infoContainer{
        margin-left:3rem;
        margin-right: 3rem;
    }

    .aboutInfo{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px black;
        padding: 1rem;
    }

    .BWTheo{
        display:block;
        margin:0 auto;
        max-width: 75vw;
    }
}