@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.contactContainer{
  display: flex;
  margin-top: 3rem;
  
}

.contactHeader{
    text-align: center;
    margin-bottom: 0;
}

.contactImageContainer{
  float:left;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
}

.contactTextContainer{
  margin-right: auto;
}

.c6{
  border-radius: 1rem;
  width:20rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

form{max-width: 45vw; margin: 1rem auto;}

.form-control {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid black;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .form-control:focus { border:2px solid #8cb2d1; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }

  
[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:black;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#272222; }

  @media(max-width:850px){


    .contactContainer{
      display:block;
      margin-right: auto;
      margin-left: auto;
    }

    .contactImageContainer{
      float:none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .c6{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 75vw;
      margin-bottom: 3rem;
    }

    form{max-width: 80vw; margin: 1rem auto;}

   
  }